@import "tailwindcss";

:root {
  --dark-navy: #0a0f1c;
  --accent-white: #f9fafb;
  --light-orange: #ff8b21;
}

@theme inline {
  --color-accent-white: var(--accent-white);
  --color-dark-navy: var(--dark-navy);
  --color-light-orange: var(--light-orange);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--white);
}
